<div class="form-container">

<%= bootstrap_form_for @video, html: { multipart: true } do |f| %>


  <%= f.text_field :title %>
  <%= f.text_field :tags, label: "#Tags" %>
  <%= f.text_field :video_link, label: "Vine ID" %>
  <%= f.date_select :filmed_when, order: [:month, :day, :year] %>
  <%= f.text_field :filmed_where %>
  <%= f.submit "Submit" %>
<% end %>
</div>

<ul>
<% @video.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
