
 <ul class = "nav nav-pills nav-justified">

  <% if current_user %>
  <p>
  Welcome, <%=link_to current_user.username, user_path(current_user)%>
</p>
<% else %>
<li>
  <%= link_to 'Log In', login_path %>
  </li>

  <li>
  <%= link_to 'Sign Up', new_user_path %>
  </li>
  <% end %>
  </ul>





<div class="col-sm-6 col-md-4 video-container">
      <% @videos.iterate_every(3) do |video| %>
      <div class="simple">
      <p><%= link_to video.title, video %> <%= "(#{video.filmed_where})" %></p>
      <iframe width="290" height="350" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
      <br>

      <span><%= video.tags %></span> &nbsp; | &nbsp;
      <span><%= video.filmed_when%></span>

  <div class = "controls">
    <% if current_user %>
     <span><%= link_to "Edit", edit_video_path(video) %> </span> &nbsp; | &nbsp;
     <span><%= link_to "Remove", video_path(video.id), method: "DELETE",
     data: {confirm: "Are you sure you want to delete this video?"} %> </span> &nbsp; | &nbsp;
     <span><%=link_to "Comment this video", video_path(video)%></span>
    <% end %>
   </div>
   </div>
      <% end %>
</div>

<div class="col-sm-6 col-md-4 video-container">
      <% @videos.iterate_every(3,1) do |video| %>
      <div class="simple">
      <h4><%= link_to video.title, video %> <%= "(#{video.filmed_where})" %></h4>
      <iframe width="290" height="350" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
        <br>
      <span><%= video.tags %></span> &nbsp; | &nbsp;
      <span><%= video.filmed_when%></span>
  <div class = "controls">
    <% if current_user %>
     <span><%= link_to "Edit", edit_video_path(video) %> </span> &nbsp; | &nbsp;
     <span><%= link_to "Remove", video_path(video.id), method: "DELETE",
     data: {confirm: "Are you sure you want to delete this video?"} %> </span> &nbsp; | &nbsp;
     <span><%=link_to "Comment this video", video_path(video)%></span>
    <% end %>
   </div>
   </div>
      <% end %>
</div>

<div class="col-sm-6 col-md-4 video-container">
      <% @videos.iterate_every(3,2) do |video| %>
      <div class="simple">
      <h4><%= link_to video.title, video %> <%= "(#{video.filmed_where})" %></h4>
      <iframe width="290" height="350" src="<%= video.embed_link %>" frameborder="0" allowfullscreen></iframe>
        <br>
      <span><%= video.tags %></span> &nbsp; | &nbsp;
      <span><%= video.filmed_when%></span>
  <div class = "controls">
    <% if current_user %>
     <span><%= link_to "Edit", edit_video_path(video) %> </span> &nbsp; | &nbsp;
     <span><%= link_to "Remove", video_path(video.id), method: "DELETE",
     data: {confirm: "Are you sure you want to delete this video?"} %> </span> &nbsp; | &nbsp;
     <span><%=link_to "Comment this video", video_path(video)%></span>
    <% end %>
   </div>
   </div>
      <% end %>
</div>















