 <main>

<article class= "simple">
      <h4><%= link_to "Play in YouTube", @video.youtube_link %></h4>
      <iframe id="videoPlayer" width="680" height="420" src="<%= @video.embed_link %>" frameborder="0" allowfullscreen></iframe>
      <%= image_tag @video.videoupload.url(:thumb) %>
      <br>

       <br>
      <span class= "video_span"><%= @video.tags %></span> &nbsp; | &nbsp;
      <span class= "video_span"><%= @video.filmed_when%></span> &nbsp; | &nbsp;
      <span class= "video_span"><%= @video.filmed_where%></span>

      <%= form_for [@video, @comment] do |f| %>
        <%= f.text_area :message %>
        <br>
        <%= f.submit "Post Comment" %>
      <% end %>


      <% @video.comments.each do |comment| %>
        <div class="comment">
          <p><%= comment.message %></p>
          <p><strong>Author: </strong><%= comment.author.username %></p>
        </div>
        <% if comment.author == current_user %>
          <%= link_to "Edit", video_comment_path(@video, comment) %>
        <% end %>
      <% end %>


   <div class = "controls">
     <span><%= link_to "Edit", edit_video_path(@video) %> </span> &nbsp; | &nbsp;
     <span><%= link_to "Remove", video_path(@video.id), method: "DELETE",
     data: {confirm: "Are you sure you want to delete this video?"} %> </span> &nbsp; | &nbsp;
     <span><%=link_to "Comment this video", new_video_comment_path(@video)%></span>
   </div>
    </article>


</main>
<!--
<script src="https://www.youtube.com/iframe_api"></script>
<script>
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('videoPlayer', {
      events: {
        'onReady': function(evt) { console.log('video is ready to play', evt)},
        'onStateChange': function(evt) {
          console.log('state changed: ', evt);
        }
      }
    });
    console.dir(player);
  }
</script>
 -->
