 <main>

<article class= "video_show">
      <h4><%= link_to "Play in YouTube", @video.youtube_link %></h4>
      <iframe src="<%= @video.embed_link %>" frameborder="0" allowfullscreen></iframe>
      <br>
      <span class= "video_span"><%= @video.tags %></span> &nbsp; | &nbsp;
      <span class= "video_span"><%= @video.filmed_when%></span> &nbsp; | &nbsp;
      <span class= "video_span"><%= @video.filmed_where%></span>

      <%= form_for [@video, @comment] do |f| %>
        <%= f.text_area :message %>
        <%= f.submit "Post Comment" %>
      <% end %>


      <% @video.comments.each do |comment| %>
        <div class="comment">
          <p><%= comment.message %></p>
          <p><strong>Author: </strong><%= comment.author.username %></p>
        </div>
      <% end %>


   <div class = "controls">
     <span><%= link_to "Edit", edit_video_path(@video) %> </span> &nbsp; | &nbsp;
     <span><%= link_to "Remove", video_path(@video.id), method: "DELETE",
     data: {confirm: "Are you sure you want to delete this video?"} %> </span> &nbsp; | &nbsp;
     <span><%=link_to "Comment this video", new_video_comment_path(@video)%></span>
   </div>
    </article>


</main>

