<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
  <title>InstaVidApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
  <h1>InstaVid</h1>
 </header>

 <nav>
  <%if current_user%>
  <%= link_to "Add Video", new_video_path %> &nbsp;|&nbsp;
  <%= link_to "Your Videos", user_path(current_user) %>
  <% end %>
 </nav>

 <ul class = "nav nav-pills nav-justified">

 <li>
    <% if current_user %>

    <span class="glyphicon glyphicon-home"></span><%=link_to "Home", videos_path%>


  </li>

<li><span class="glyphicon glyphicon-remove-sign"></span><%= link_to 'Log Out', session_path('dummy'), method: :delete %>

</li>

  <% end %>

</ul>


<%= yield %>

</body>
</html>
